@model ASPForm.Models.ABHAModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ABHAModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABHA_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABHA_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABHA_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABHA_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Full_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edits" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Registered">Back to List</a>
</div>
